<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>LA確認テスト</title>
	<link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
	<h1><%= @number %></h1>
	<form action="/plus" method="POST">
		<input type="submit" value="+">
	</form>
	<form action="/minus" method="POST">
		<input type="submit" value="-">
	</form>
	<form action="/clear" method="POST">
		<input type="submit" value="clear">
	</form>
	<form action="/multTwo" method="POST">
		<input type="submit" value="×2">
	</form>
	<form action="/divTwo" method="POST">
		<input type="submit" value="÷2">
	</form>
	
	<h1><%= @number2 %></h1>
	<form action="/plus2" method="POST">
		<input type="submit" value="+">
	</form>
</body>
</html>
